.app {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 60px 1fr 1fr 1fr 1fr 60px;
  grid-template-areas:
      "h h h h h h h" 
      "r r m m m m m"
      "r r m m m m m"
      "r r m m m m m"
      "r r m m m m m"
      "r r f f f f f";
}

.header {
  grid-area: h;
}

.channel-list {
  grid-area: r;
}

.message-list {
  grid-area: m;
}

.send-message-form {
  grid-area: f;
}

.send-message-button {
  color: var(--main-color);
  font-size: 30px;
  cursor: pointer;
  margin: 14px 40px 12px 5px;
}

.channel-list {
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--main-color);
  overflow-y: scroll;
  height: 100%;
}

.channel-list ul {
  list-style-type: none;    
  padding: 0;
  overflow: scoll;
}

.channel-list li {
  margin: 10px 0;
}

.channel-list h3 {
  margin: 5px 0;
  color: var(--secondary-color);
}

.channel-list .channel a {
  color: var(--secondary-text-color);
  font-weight: 600;
  text-decoration: none;
  
}

.channel-list .channel.active a {
  color: var(--header-color);
}

.channel-list-pen {
  margin-right: 5px;
  font-size: 15px;
}

.message {
  margin: 15px 0;
}

.message .message-username {
  font-size: 13px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}
.message .message-text {
  background: var(--main-color);
  color: var(--secondary-color);
  display: inline-block;
  padding: 4px 8px;
  border-radius: 8px;
}

.message-list {
  box-sizing: border-box;
  padding-left: 16px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: var(--secondary-color);
}

.message-list .join-channel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 34px;
  font-weight: 300;
}

.send-message-form {
  background: var(--send-message-form);
  border-top: 2px solid var(--main-color);
  display: flex;
}

.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  background: var(--send-message-form);
  font-weight: 200;
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: var(--main-text-color);
}

.header {
  background-color: var(--header-color);
  margin-left: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-text {
  color: var(--main-color);
}

.header-message-icon {
  vertical-align: middle;
  color: var(--main-color);
  font-size: 35px;
  margin-right: 5px;
}